.form-add {
  padding-top: 50px;
  text-align: left;
}

.title-add {
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.fields {
  font-size: 25px;
}

.input-field {
  padding-bottom: 10px;
}

.fields input {
  height: 30px;
  font-size: 16px;
  padding-left: 8px;
  margin-left: 8px;
}

.fields select {
  width: 200px;
  height: 30px;
  font-size: 16px;
  padding-left: 8px;
  margin-left: 8px;
}

