.form{
    border: 2px;
    border-color: black;
    display: flex;
}

.taskline{
    font-size: 20px;
}

.taskDetails{
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}

.task{
    font-weight: bold;
    display: flex;
    width: 300px;
    text-decoration: underline;
    text-align: left;
}

.pass{
    font-weight: bold;
    width: 300px;
    flex:1;
    display: flex;
    align-items: start;
    text-decoration: underline;
    background-color: crimson;
}

.edit-btn{
    background-color: white;
    color: black;
}